#click-button{
  text-align: center;
  align-items: center;
  font-size: 20px;
  background-color: blue;
  border:none;
  color: white;
  border-radius: 5px;
  padding:5px 10px;
  transition: all .7s;
  height: auto;
  margin-left: 300px;
  justify-content: center;

}

#click-button:checked{
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: all .7s;
}
#click-result{
  text-align: center;
}